* {
    padding: 0%;
    margin: 0%;
}

@font-face {
    font-family: Shrikhand;
    src:url(Shrikhand/Shrikhand-Regular.ttf);
}

body {
    background-color: rgb(82, 1, 1);
    font-family: Shrikhand;
    text-transform: uppercase;
    font-size: 20px;
}

p {
    color: #855435;
}

#subtitulo {
    color: #855435;
}

#licoesAprendidas, #licoesFuturas, #habilidades, #titulo  {
    color: #855435;
}


#meuNome a, #trybe{
    text-decoration: none;
    color: #855435;

}

#cabecario {
    text-decoration: none;
    color: #855435;
    font-size: 30px;
}

.linksCabecario a, #link {
    text-decoration: none;
    list-style: none;
    color: #855435;    
}

.linksCabecario {
    display: flex;
    list-style: none;
    margin-right: 50px;
    gap: 30px;
}

header {
    display: flex;
    margin-right: 50px;
    gap: 30px;
}