* {
    padding: 0.1px;
    margin: 0.1px;
}

@font-face {
    font-family: Shrikhand;
    src:url(Shrikhand/Shrikhand-Regular.ttf);
}



body {
    background-color: rgb(82, 1, 1);
    font-family: Shrikhand, sans-serif;
    text-transform: uppercase;
}

#cabecalho {
    margin-top: 0;
}

p {
    color: #855435;
}

#subtitulo {
    color: #855435;
}

#licoesAprendidas, #licoesFuturas, #habilidades, #titulos  {
    color: #855435;
}


#meuNome a, #trybe{
    text-decoration: none;
    color: #855435;

}

#cabecalho {
    text-decoration: none;
    color: #9B765A;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 10px;
}

.linksCabecalho a, .link a{
    text-decoration: none;
    list-style: none;
    color: #9B765A;    
}

.linksCabecalho li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}


#navCabecalho {
    display: inline-block;
    padding: 15px;
    margin-left: auto;
}

header {
    display: flex;
    gap: 30px;
}

h2 {
    color: #855435;
}

#minha_foto {
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#centralizarNome {
    display: block;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10%;
}

.titulos {
    display: block;
    padding: 1px;
    text-align: center;
    font-size: 35px;
    height: 70px;
}

.descricoes {
    margin-bottom: 10%;
    
}

#habilidades {
    display: inline-block;
    padding: 1px;
    margin:3%px;
    text-align: center;
    font-size: 20px;
}

#habilidades li {
    height: 80px;
    width: 1000px;
    display: inline-block;
}

.descricoes p, .jornada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    width: 1000px;
}

aside p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    width: 1000px;
    padding: 25px;
}

#licoesAprendidas {
    display: inline-block;
    width: 45%;
    
}

#licoesFuturas {
    display: inline-block;
    width: 45%;
}

